<h5 class="text-success mt-3">Agregar nuevo producto</h5>
    <form class="d-flex justify-content-between align-items-center my-4 w-50 mx-auto"
        (submit)="agregarProducto($event)" >
        <input type="text" id="descripcion" name="descripcion" 
        placeholder="Descricion del producto" class="form-control mw-2 w75"
        #descripcionInput/>

        <input type="number" id="precio" name="precio" 
        placeholder="Precio del producto" class="form-control mw-2 w75"
        #precioInput/>


        <button type="submit" class="btn btn-primary">Agregar</button>

    </form>